<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}?v=1">
</head>
<body>
    <main>
        <h1>Registrar Adição</h1>
        <p>Quantos produtos forão acrescentados</p>
        <form action="{{ url_for('add_estoque') }}" method="GET">
            <input type="hidden" name="id" value="{{ id }}">
            <div class="campo">
                <input type="number" id="add" name="add" required>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </main>
</body>
</html>